<%= form_with url: root_path, method: :get do |f| %>
  <%= f.label :flickr_id %>
  <%= f.text_field :flickr_id %>

  <%= f.submit 'Get feed' %>
<% end %>

<% if @person %>
  <% if @photos.empty? %>
  <% else %>
    <% @photos.each do |photo| %>
      <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
    <% end %>
  <% end %>
<% else %>
  <p>User does not exist</p>
<% end %>
