<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlickr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="notification is-warning is-light has-text-centered">
        <%= message %>
      </div>
    <% end %>

    <div class="hero is-danger">
      <div class="hero-body">
        <p class="title">Odin Flickr</p>
        <p class="subtitle">Playing around with the Flickr API</p>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer fixed-footer">
      <div class="content has-text-centered">
        <p>
          <strong>Flickr API project</strong> by <%= link_to 'Aaron Contreras', url: "https://github.com/aaron-contreras/odin-flickr" %>
        </p>
      </div>
    </footer>
  </body>
</html>
